@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 100;
    src: url(./Inter/Inter-Thin.woff2) format("woff2"),
         url(./Inter/Inter-Thin.woff) format("woff");
  }

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    src: url(./Inter/Inter-Regular.woff) format('woff'),
        url(./Inter/Inter-Regular.woff2) format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    src: url(./Inter/Inter-Bold.woff2) format("woff2"),
         url(./Inter/Inter-Bold.woff) format("woff");
  }

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    src: url(./Inter/Inter-Black.woff) format('woff'),
        url(./Inter/Inter-Black.woff2) format('woff2');
    font-weight: 900;
}