.place {
    max-width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 460px auto;
    grid-template-rows: auto minmax(min-content, 460px);
    column-gap: 40px;
    row-gap: 48px;
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: minmax(min-content, 440px) auto;
        grid-template-rows: auto minmax(min-content, 440px);
        column-gap: 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        grid-template-columns: 340px auto;
        grid-template-rows: auto minmax(min-content, 340px);
        column-gap: 28px;
        row-gap: 45px;
    }
}

@media screen and (max-width: 550px) {
    .place {
        display: flex;
        flex-wrap: wrap;
        row-gap: 32px;
        column-gap: 0;
    }
}